<header>
  <a href="#">
    <div id="logo">
      <img
        src="../../../assets/img/truck.jpg"
        id="imgLogo"
        onclick="loadHomePage()"
        width="60"
        height="60"
      />
      <h1 id="nomeLogo">Sun Company</h1>
    </div>
  </a>
  <menu>
    <a (click)="navegarHome()"><p>Home</p></a>
    <a (click)="navegarFuncionarios()"><p>Funcionários</p></a>
    <a (click)="navegarFuncionarios()"><p>Cadastro2</p></a>
  </menu>

  <nav id="cabecalho">
    <div id="foto">
      <img src="../../../assets/img/foto.jpg" width="70" height="70" />
    </div>
  </nav>
</header>
