<body>
  <div class="container">
    <form (ngSubmit)="consultar()" [formGroup]="fg">
      <label for="id">ID:</label>
      <input formControlName="id" />
      <button class="btn-consultar" type="submit">Consultar</button>
    </form>
    <div id="result">
      <form [formGroup]="formValues">
        <h1>Detalhes do funcionario(a)</h1>
        <div class="container">
          <label for="id">ID:</label> <input formControlName="id" />
          <label for="nome">ID:</label> <input formControlName="nome" />
          <label for="departamento">ID:</label>
          <input formControlName="departamento" />
          <label for="endereco">ID:</label>
          <input formControlName="endereco" /> <label for="email">ID:</label>
          <input formControlName="email" />
        </div>
      </form>

      <button (click)="delete()">Deletar</button>
      <div class="alert alert-{{color}}" role="alert">
        {{ mesageDelete }}
      </div>

      <form [formGroup]="formInsert">
        <h1>Inserir funcionario</h1>
        <div class="container">
          <label for="nome">ID:</label> <input formControlName="nome" />
          <label for="departamento">ID:</label>
          <input formControlName="departamento" />
          <label for="endereco">ID:</label>
          <input formControlName="endereco" /> <label for="email">ID:</label>
          <input formControlName="email" />
        </div>
        <button (click)="inserir()">Inseirir</button>
        <div class="alert alert-{{colorInserir}}" role="alert">
          {{ mesageInserir }}
        </div>
      </form>
    </div>
  </div>
</body>
