* {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #fff;
  }

menu {
background-color: #968c96;
margin-top: 93px;
padding: 20px;
border: 0px;
text-align: center;
}

menu a {
margin: 0px;
padding: 20px;
display: inline;
justify-content: space-between;
align-items: center;
font-size: larger;
list-style: none;
text-decoration: none;
color: black;
}